@*model IEnumerable<ElectronicDiary.Domain.Entities.Grade>*@
@model ElectronicDiary.Domain.Entities.Grade


<h1>Add Grade</h1>

<html>
<head>
    <title>Wprowadzanie Oceny</title>
</head>
<body> 

    <p>Subject Id: @ViewBag.SubjectId</p> 
    <p>Student Id: @ViewBag.StudentId</p>
    <form action="/Grade/AddGrade" method="post">
     
        <br />

        <label for="grade">Add grade: </label>
        <input type="text" asp-controller="Grade" asp-action="AddGrade" asp-for="WriteGrade" />
        <input type="hidden" name="subjectId" value=@ViewBag.SubjectId />
        <input type="hidden" name="studentId" value=@ViewBag.StudentId />

        <br />
        <br />

        <button class="btn btn-primary type="submit">Save</button>

       
    </form>
    

</body>
</html>

