<h1> Add new student</h1>

<hr />

<div class="row">
    <div class="col-md-3">
        <form action="/Student/Create" method="post">
            <div class= "form-group mb-3">
                <label class="control-label" for="StudentName">Student name</label>
                <input class="form-control" type="text" id= "StudentName" name="StudentName">
            </div>

            <div class="form-group mb-3">
                <label class="control-label" for="StudentSurname">Student surname</label>
                <input class="form-control" type="text" id="StudentSurname" name="StudentSurname">
            </div>


            <div class="form-group mb-3">
                <label class="control-label" for="DateOfBirth">Date of birth</label>
                <input class="form-control" type="text" id="DateOfBirth" name="DateOfBirth">
            </div>

            <div class="form-group mb-3">
                <label class="control-label" for="NameCity">Name city</label>
                <input class="form-control" type="text" id="NameCity" name="Address.NameCity">
            </div>

            <div class="form-group mb-3">
                <label class="control-label" for="Street">Street</label>
                <input class="form-control" type="text" id="Street" name="Address.Street">
            </div>

            <div class="form-group mb-3">
                <label class="control-label" for="PostalCode ">PostalCode </label>
                <input class="form-control" type="text" id="PostalCode " name="Address.PostalCode" >
            </div>

            <div class= "form-group mb-3">
                <input type="submit" value="Create" class="btn btn-primary">
            </div>

        </form>

    </div>

</div>

