@using ElectronicDiary.Domain.Entities
@model Student

<h1> Add new student</h1>

<hr />

<div class="row">
    <div class="col-md-3">
        <form action="/Student/Create" method="post">
            <div class= "form-group mb-3">
                <label class="control-label" asp-for ="StudentName">Student name</label>
                <input class="form-control" type="text" asp-for ="StudentName">
                <span asp-validation-for ="StudentName" class ="text-denger"></span>
            </div>

            <div class="form-group mb-3">
                <label class="control-label" asp-for ="StudentSurname">Student surname</label>
                <input class="form-control" type="text" asp-for ="StudentSurname">
                <span asp-validation-for="StudentSurname" class ="text-denger"></span>
            </div>


            <div class="form-group mb-3">
                <label class="control-label" asp-for ="DateOfBirth">Date of birth</label>
                <input class="form-control" type="text" asp-for="DateOfBirth" value="dd-mm-rrrr">
                <span asp-validation-for="DateOfBirth" class ="text-denger"></span>
            </div>

            <div class="form-group mb-3">
                <label class="control-label" for="NameCity">Name city</label>
                <input class="form-control" type="text" id="NameCity" name="Address.NameCity">
            </div>

            <div class="form-group mb-3">
                <label class="control-label" for="Street">Street</label>
                <input class="form-control" type="text" id="Street" name="Address.Street">
            </div>

            <div class="form-group mb-3">
                <label class="control-label" for="PostalCode ">PostalCode </label>
                <input class="form-control" type="text" id="PostalCode " name="Address.PostalCode" >
            </div>

            <div class= "form-group mb-3">
                <input type="submit" value="Create" class="btn btn-primary">
            </div>

        </form>

    </div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}